Database/XmlFiles/DataDTD.dtd

<!ELEMENT DataBase (patient*, doctor*, appointment*, surgery*, equipment*, role*, user*)>

<!ELEMENT patient (name?, surname?, email?, sex?, dob?, height?, weight?, photo?, info?)>
<!ATTLIST patient id CDATA #IMPLIED>

<!ELEMENT doctor (name?, surname?, email?, sex?, dob?, photo?, specialty?)>
<!ATTLIST doctor id CDATA #IMPLIED>

<!ELEMENT appointment (type?, date?, price?, turn?)>
<!ATTLIST appointment id CDATA #IMPLIED>

<!ELEMENT surgery (type?, date?, price?, turn?)>
<!ATTLIST surgery id CDATA #IMPLIED>

<!ELEMENT equipment (name?, category?, quantity?, price?, expiration_date?)>
<!ATTLIST equipment id CDATA #IMPLIED>

<!ELEMENT role (name?)>
<!ATTLIST role roleId CDATA #IMPLIED>

<!ELEMENT user (username?, email?)>
<!ATTLIST user userId CDATA #IMPLIED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT surname (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT dob (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT photo (#PCDATA)>
<!ELEMENT info (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT turn (#PCDATA)>
<!ELEMENT specialty (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT expiration_date (#PCDATA)>
<!ELEMENT username (#PCDATA)>
